/* write css for imageGallery here */

img{
    width: 25%;
    height: 50%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
}


.link-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

a {
  display: block;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

a:hover {
  background-color: #2980b9;
}